﻿<div class="supportmenu">
    <link href="~/Plugins/Misc.BsWebApi/Content/styles.css" rel="stylesheet" />
    <div class="section-header">
        <div class="title">
            @*@T("Plugins.NopMobile.WebApi.menu")*@
            BS Mobile WebApi
        </div>
    </div>
    <ul class="supportmenu_ul">
        <a href="/Admin/Widget/ConfigureWidget?systemName=BrainStation.BsWebApi" class="menulink">
            <li class="menu_li">@T("Plugins.NopMobile.WebApi.overview")</li>
        </a>

        <a href="@Url.Action("Generalsetting", "BsWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopMobile.WebApi.generalsetting")</li>
        </a>

        <a href="@Url.Action("Theme", "BsWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopMobile.WebApi.themepersonalization")</li>
        </a>

        <a href="@Url.Action("BannerSlider", "BsWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopMobile.WebApi.bannericon")</li>
        </a>

        <a href="@Url.Action("ContentManagement", "BsWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopMobile.WebApi.contantmanegement")</li>
        </a>

        <a href="@Url.Action("PushNotification", "BsWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopMobile.WebApi.pushnotification")</li>
        </a>

        <a href="@Url.Action("CategoryIcons", "BsWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopMobile.WebApi.categoryicon")</li>
        </a>
        <a href="@Url.Action("MobileWebSiteSetting", "BsWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopMobile.WebApi.mobilewebsitesetting")</li>
        </a>
        <a href="@Url.Action("ContactInfo", "BsWebApiConfiguration" )" class="menulink">
            <li class="menu_li">@T("Plugins.NopMobile.WebApi.contactInfo")</li>
        </a>
        <a href="@Url.Action("SliderImage", "BsWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopMobile.WebApi.Slider")</li>
        </a>
    </ul>
</div>