﻿@model Nop.Plugin.Misc.BsWebApi.Models.DashboardModel.BannerSliderModel
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;
@using System.Globalization;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{ @Html.AntiForgeryToken()
    @Html.Partial("~/Plugins/Misc.BsWebApi/Views/WebApi/_NopMobileMenu.cshtml")

    <div class="plugincontainer">
        <div>
            <div class="configurecontaincontainer">
                <div class="storelocatersettingtitle">
                    <strong>@T("Plugins.NopMobile.WebApi.bannerconfigureTitle")</strong>
                </div>
                <div>
                    <fieldset>
                        <legend><strong>@T("Plugins.Widgets.NivoSlider.Picture1")</strong></legend>
                        <table class="adminContent">
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Picture1Id_OverrideForStore, model => model.Picture1Id, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Picture1Id):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Picture1Id)
                                    @Html.ValidationMessageFor(model => model.Picture1Id)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Text1_OverrideForStore, model => model.Text1, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Text1):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Text1)
                                    @Html.ValidationMessageFor(model => model.Text1)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.IsProduct1_OverrideForStore, model => model.IsProduct1, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.IsProduct1):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.IsProduct1)
                                    @Html.ValidationMessageFor(model => model.IsProduct1)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductOrCategory1_OverrideForStore, model => model.ProductOrCategory1, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.ProductOrCategory1):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.ProductOrCategory1)
                                    @Html.ValidationMessageFor(model => model.ProductOrCategory1)
                                </td>
                            </tr>
                            @*<tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Link1_OverrideForStore, model => model.Link1, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Link1):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Link1)
                                    @Html.ValidationMessageFor(model => model.Link1)
                                </td>
                            </tr>*@
                        </table>
                    </fieldset>
                    <br />

                    <fieldset>
                        <legend><strong>@T("Plugins.Widgets.NivoSlider.Picture2")</strong></legend>
                        <table class="adminContent">
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Picture2Id_OverrideForStore, model => model.Picture2Id, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Picture2Id):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Picture2Id)
                                    @Html.ValidationMessageFor(model => model.Picture2Id)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Text2_OverrideForStore, model => model.Text2, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Text2):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Text2)
                                    @Html.ValidationMessageFor(model => model.Text2)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.IsProduct2_OverrideForStore, model => model.IsProduct2, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.IsProduct2):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.IsProduct2)
                                    @Html.ValidationMessageFor(model => model.IsProduct2)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductOrCategory2_OverrideForStore, model => model.ProductOrCategory2, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.ProductOrCategory2):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.ProductOrCategory2)
                                    @Html.ValidationMessageFor(model => model.ProductOrCategory2)
                                </td>
                            </tr>
                            @*<tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Link2_OverrideForStore, model => model.Link2, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Link2):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Link2)
                                    @Html.ValidationMessageFor(model => model.Link2)
                                </td>
                            </tr>*@
                        </table>
                    </fieldset>
                    <br />

                    <fieldset>
                        <legend><strong>@T("Plugins.Widgets.NivoSlider.Picture3")</strong></legend>
                        <table class="adminContent">
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Picture3Id_OverrideForStore, model => model.Picture3Id, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Picture3Id):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Picture3Id)
                                    @Html.ValidationMessageFor(model => model.Picture3Id)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Text3_OverrideForStore, model => model.Text3, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Text3):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Text3)
                                    @Html.ValidationMessageFor(model => model.Text3)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.IsProduct3_OverrideForStore, model => model.IsProduct3, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.IsProduct3):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.IsProduct3)
                                    @Html.ValidationMessageFor(model => model.IsProduct3)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductOrCategory3_OverrideForStore, model => model.ProductOrCategory3, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.ProductOrCategory3):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.ProductOrCategory3)
                                    @Html.ValidationMessageFor(model => model.ProductOrCategory3)
                                </td>
                            </tr>
                            @*<tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Link3_OverrideForStore, model => model.Link3, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Link3):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Link3)
                                    @Html.ValidationMessageFor(model => model.Link3)
                                </td>
                            </tr>*@
                        </table>
                    </fieldset>
                    <br />
                    <fieldset>
                        <legend><strong>@T("Plugins.Widgets.NivoSlider.Picture4")</strong></legend>
                        <table class="adminContent">
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Picture4Id_OverrideForStore, model => model.Picture4Id, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Picture4Id):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Picture4Id)
                                    @Html.ValidationMessageFor(model => model.Picture4Id)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Text4_OverrideForStore, model => model.Text4, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Text4):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Text4)
                                    @Html.ValidationMessageFor(model => model.Text4)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.IsProduct4_OverrideForStore, model => model.IsProduct4, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.IsProduct4):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.IsProduct4)
                                    @Html.ValidationMessageFor(model => model.IsProduct4)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductOrCategory4_OverrideForStore, model => model.ProductOrCategory4, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.ProductOrCategory4):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.ProductOrCategory4)
                                    @Html.ValidationMessageFor(model => model.ProductOrCategory4)
                                </td>
                            </tr>
                            @*<tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Link4_OverrideForStore, model => model.Link4, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Link4):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Link4)
                                    @Html.ValidationMessageFor(model => model.Link4)
                                </td>
                            </tr>*@
                        </table>
                    </fieldset>
                    <br />
                    <fieldset>
                        <legend><strong>@T("Plugins.Widgets.NivoSlider.Picture5")</strong></legend>
                        <table class="adminContent">
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Picture5Id_OverrideForStore, model => model.Picture5Id, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Picture5Id):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Picture5Id)
                                    @Html.ValidationMessageFor(model => model.Picture5Id)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Text5_OverrideForStore, model => model.Text5, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Text5):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Text5)
                                    @Html.ValidationMessageFor(model => model.Text5)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.IsProduct5_OverrideForStore, model => model.IsProduct5, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.IsProduct5):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.IsProduct5)
                                    @Html.ValidationMessageFor(model => model.IsProduct5)
                                </td>
                            </tr>
                            <tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.ProductOrCategory5_OverrideForStore, model => model.ProductOrCategory5, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.ProductOrCategory5):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.ProductOrCategory5)
                                    @Html.ValidationMessageFor(model => model.ProductOrCategory5)
                                </td>
                            </tr>
                            @*<tr>
                                <td class="adminTitle">
                                    @Html.OverrideStoreCheckboxFor(model => model.Link5_OverrideForStore, model => model.Link5, Model.ActiveStoreScopeConfiguration)
                                    @Html.NopLabelFor(model => model.Link5):
                                </td>
                                <td class="adminData">
                                    @Html.EditorFor(model => model.Link5)
                                    @Html.ValidationMessageFor(model => model.Link5)
                                </td>
                            </tr>*@
                        </table>
                    </fieldset>
                    <br />
                    <table class="adminContent">
                        <tr>
                            <td colspan="2">
                                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
