﻿@model Nop.Plugin.Misc.BsWebApi.Models.DashboardModel.CategoryIconsModel
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;
@using System.Globalization;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{ @Html.AntiForgeryToken()
    @Html.Partial("~/Plugins/Misc.BsWebApi/Views/WebApi/_NopMobileMenu.cshtml")
    <div class="plugincontainer">
        <div class="configurecontaincontainer">
            <div class="storelocatersettingtitle">
                <strong>@T("Plugins.NopMobile.WebApi.categoryiconTitle")</strong>
            </div>
            
            <div>
                <table class="adminContent">
                    @*<tr>
                            <td class="adminTitle">
                                @Html.OverrideStoreCheckboxFor(model => model.Willusedefaultnopcategory_OverrideForStore, model => model.Willusedefaultnopcategory, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.Willusedefaultnopcategory):
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.Willusedefaultnopcategory)
                                @Html.ValidationMessageFor(model => model.Willusedefaultnopcategory)
                            </td>
                        </tr>*@

                    <tr>
                        <td class="adminTitle">
                            @*@Html.OverrideStoreCheckboxFor(model => model.Willusedefaultnopcategory_OverrideForStore, model => model.Willusedefaultnopcategory, Model.ActiveStoreScopeConfiguration)*@
                            @Html.NopLabelFor(model => model.SubCategoryId):
                        </td>
                        <td class="adminData">
                            @Html.DropDownListFor(model => model.SubCategoryId, Model.AvailableSubCategories,"Please select a category")
                            @Html.ValidationMessageFor(model => model.SubCategoryId)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @*@Html.OverrideStoreCheckboxFor(model => model.Willusedefaultnopcategory_OverrideForStore, model => model.Willusedefaultnopcategory, Model.ActiveStoreScopeConfiguration)*@
                            @Html.NopLabelFor(model => model.Extension):
                        </td>
                        <td class="adminData">
                            @*@Html.EditorFor(model => model.SubCategoryIcon)
                            @Html.ValidationMessageFor(model => model.SubCategoryIcon)*@
                            @*<input name="files" id="files" type="file" />*@
                            <div class="demo-section k-content">
                                <input type="file" name="files" id="files" />
                            </div>
                            
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="subcategory-list">
                <div id="subcategories-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#subcategories-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("SubCategoryList", "BsWebApiConfiguration"))",
                                            type: "POST",
                                            dataType: "json"
                                        },
                                        destroy: {
                                            url: "@Html.Raw(Url.Action("SubCategoryListDelete", "BsWebApiConfiguration"))",
                                            type: "POST",
                                            dataType: "json"
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model: {
                                            id: "Id",
                                            fields: {
                                                Name: { editable: false},
                                                IconPath: { editable: false}
                                            }
                                        }
                                    },
                                    requestEnd: function (e) {
                                        if (e.type != "read") {
                                           // this.read();
                                        }
                                    },
                                    error: function (e) {
                                        // display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    numeric: false,
                                    previousNext: false,
                                    info: false
                                },
                                editable: {
                                    confirmation: true,
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                {
                                    field: "Name",
                                    title: "Category Name"
                                },{
                                    field: "IconPath",
                                    title: "Icon",
                                    template: '<img src="#=IconPath#?nocache='+ new Date().getTime() + '" />'
                                },
                                {
                                    command: [{
                                        name: "destroy",
                                        text: "@T("Admin.Common.Delete")"
                                    }],
                                    width: 200
                                }]
                            });
                        });

                    </script>
                
            </div>
        </div>
    </div>
}
@*<script>
    $(document).ready(function () {
        $("#files").kendoUpload({

        });
    });
</script>*@


<script id="fileTemplate" type="text/x-kendo-template">
    <span class='k-progress'></span>
    <div class='file-wrapper'>
        <span class='file-icon #=addExtensionClass(files[0].extension)#'></span>
        <h4 class='file-heading file-name-heading'>Name: #=name#</h4>
        <h4 class='file-heading file-size-heading'>Size: #=size# bytes</h4>
        <button type='button' class='k-upload-action'></button>
    </div>
</script>

<script>
    $(document).ready(function () {
        $("#files").kendoUpload({                        
            template: kendo.template($('#fileTemplate').html())
        });
    });

    function addExtensionClass(extension) {
        switch (extension) {
            case '.jpg':
            case '.img':
            case '.png':
            case '.gif':
                return "img-file";
            case '.doc':
            case '.docx':
                return "doc-file";
            case '.xls':
            case '.xlsx':
                return "xls-file";
            case '.pdf':
                return "pdf-file";
            case '.zip':
            case '.rar':
                return "zip-file";
            default:
                return "default-file";
        }
    }
</script>

<style>
    .file-icon {
        display: inline-block;
        float: left;
        width: 48px;
        height: 48px;
        margin-left: 10px;
        margin-top: 13.5px;
    }

    .img-file {
        background-image: url(../content/web/upload/jpg.png);
    }

    .doc-file {
        background-image: url(../content/web/upload/doc.png);
    }

    .pdf-file {
        background-image: url(../content/web/upload/pdf.png);
    }

    .xls-file {
        background-image: url(../content/web/upload/xls.png);
    }

    .zip-file {
        background-image: url(../content/web/upload/zip.png);
    }

    .default-file {
        background-image: url(../content/web/upload/default.png);
    }

    #example .file-heading {
        font-family: Arial;
        font-size: 1.1em;
        display: inline-block;
        float: left;
        width: 60%;
        margin: 0 0 0 20px;
        height: 25px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #example .file-name-heading {
        font-weight: bold;
        margin-top: 20px;
    }

    #example .file-size-heading {
        font-weight: normal;
        font-style: italic;
    }

    li.k-file .file-wrapper .k-upload-action {
        position: absolute;
        top: 0;
        right: 0;
    }

    li.k-file div.file-wrapper {
        position: relative;
        height: 75px;
    }
</style>