﻿@model Nop.Plugin.Misc.BsWebApi.Models.DashboardModel.ConfigureModel
@{
    Layout = "";
}
@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;
@using System.Globalization;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{ @Html.AntiForgeryToken()
    @Html.Partial("~/Plugins/Misc.BsWebApi/Views/WebApi/_NopMobileMenu.cshtml")
    <div><input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" /></div>
    <div class="plugincontainer">
        <div>
            <div class="configurecontaincontainer">
                <div class="storelocatersettingtitle">
                    <strong>@T("Plugins.NopMobile.WebApi.configureTitle")</strong>
                </div>
                <div>
                    <table>
                        <tr>
                            <td class="adminTitle">
                                @Html.OverrideStoreCheckboxFor(model => model.AppKey_OverrideForStore, model => model.AppKey, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AppKey):
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.AppKey)
                                @Html.ValidationMessageFor(model => model.AppKey)
                            </td>
                        </tr>
                        <tr>
                            <td class="adminTitle">
                                @Html.OverrideStoreCheckboxFor(model => model.AppName_OverrideForStore, model => model.AppName, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AppName):
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.AppName)
                                @Html.ValidationMessageFor(model => model.AppName)
                            </td>
                        </tr>
                        <tr>
                            <td class="adminTitle">
                                @Html.OverrideStoreCheckboxFor(model => model.CreatedDate_OverrideForStore, model => model.CreatedDate, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.CreatedDate):
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.CreatedDate)
                                @Html.ValidationMessageFor(model => model.CreatedDate)
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div>
            <div class="configurecontaincontainer">
                <div class="storelocatersettingtitle">
                    <strong>@T("Plugins.NopMobile.WebApi.configureTitle")</strong>
                </div>
                <div>
                    <table>
                        <tr>
                            <td class="adminTitle">
                                @Html.OverrideStoreCheckboxFor(model => model.AndroidAppStatus_OverrideForStore, model => model.AndroidAppStatus, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.AndroidAppStatus):
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.AndroidAppStatus)
                                @Html.ValidationMessageFor(model => model.AndroidAppStatus)
                            </td>
                        </tr>
                        <tr>
                            <td class="adminTitle">
                                @Html.OverrideStoreCheckboxFor(model => model.DownloadUrl_OverrideForStore, model => model.DownloadUrl, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.DownloadUrl):
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.DownloadUrl)
                                @Html.ValidationMessageFor(model => model.DownloadUrl)

                            </td>
                        </tr>
                    </table>
                    <div>
                        <span>Open the above URL in your android phone browser.it will download the mobile app in your mobile device</span>
                        <br>
                        <span>you have any mobicommerce demo app installed in your mobile device please uninstall before installing a new mobicommerce demo app</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="configurecontaincontainer">
                <div class="storelocatersettingtitle">
                    <strong>@T("Plugins.NopMobile.WebApi.configureTitle")</strong>
                </div>
                <div>
                </div>
                <div>
                    Please provide UDID of your iOS device (iPhone and iPad),to preview the iOS demo app
                </div>
                <table>
                    <tr>
                        <td class="adminTitle">
                            @Html.OverrideStoreCheckboxFor(model => model.iOsAPPUDID_OverrideForStore, model => model.iOsAPPUDID, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.iOsAPPUDID):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.iOsAPPUDID)
                            @Html.ValidationMessageFor(model => model.iOsAPPUDID)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <div class="configurecontaincontainer">
                <div class="storelocatersettingtitle">
                    <strong>@T("Plugins.NopMobile.WebApi.configureTitle")</strong>
                </div>
                <div>
                    <table class="adminContent">
                        <tr>
                            <td class="adminTitle">
                                @Html.OverrideStoreCheckboxFor(model => model.MobilWebsiteURL_OverrideForStore, model => model.MobilWebsiteURL, Model.ActiveStoreScopeConfiguration)
                                @Html.NopLabelFor(model => model.MobilWebsiteURL):
                            </td>
                            <td class="adminData">
                                @Html.EditorFor(model => model.MobilWebsiteURL)
                                @Html.ValidationMessageFor(model => model.MobilWebsiteURL)
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
                            </td>
                        </tr>
                    </table>
                    <div>This Mobile website created by is currently hosted on our server , once you purchase its license it will be delivered to your server</div>
                </div>
            </div>
        </div>
    </div>
}
