﻿@model Nop.Plugin.Misc.BsWebApi.Models.DashboardModel.TopicModel
@{    
    //page title
    ViewBag.Title = T("Admin.ContentManagement.Topics.EditTopicDetails").Text;
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;
@using System.Globalization;
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt="" />
            @T("Admin.ContentManagement.Topics.EditTopicDetails") - @Model.SystemName @Html.ActionLink("(" + T("Admin.ContentManagement.Topics.BackToList") + ")", "ContentManagement")
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
            <span id="topic-delete" class="k-button">@T("Admin.Common.Delete")</span>
        </div>
    </div>
    @Html.Partial("~/Plugins/Misc.BsWebApi/Views/WebApi/_CreateOrUpdate.cshtml", Model)
}
@Html.DeleteConfirmation("topic-delete")