﻿@model Nop.Plugin.Misc.BsWebApi.Models.DashboardModel.GeneralSettingModel
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
}
@using Nop.Web.Framework;
@using Nop.Core.Infrastructure;
@using System.Globalization
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "featureProducts-form" }))
{ @Html.AntiForgeryToken()
    @Html.Partial("~/Plugins/Misc.BsWebApi/Views/WebApi/_NopMobileMenu.cshtml")

    <div class="plugincontainer">
        <div class="configurecontaincontainer">
            <div class="storelocatersettingtitle">
                <strong>@T("Plugins.NopMobile.WebApi.categoryiconTitle")</strong>
            </div>
            <div>
                <table class="adminContent">
                    <tr>
                        <td class="adminTitle">
                            @Html.OverrideStoreCheckboxFor(model => model.EnableBestseller_OverrideForStore, model => model.EnableBestseller, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.EnableBestseller):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.EnableBestseller)
                            @Html.ValidationMessageFor(model => model.EnableBestseller)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.OverrideStoreCheckboxFor(model => model.EnableNewProducts_OverrideForStore, model => model.EnableNewProducts, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.EnableNewProducts):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.EnableNewProducts)
                            @Html.ValidationMessageFor(model => model.EnableNewProducts)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.OverrideStoreCheckboxFor(model => model.EnableFeaturedProducts_OverrideForStore, model => model.EnableFeaturedProducts, Model.ActiveStoreScopeConfiguration)
                            @Html.NopLabelFor(model => model.EnableFeaturedProducts):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.EnableFeaturedProducts)
                            @Html.ValidationMessageFor(model => model.EnableFeaturedProducts)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td width="100%">
                            <div id="fetureproductcontainer">
                                <input type="submit" id="btnAddNewfeatureProduct" value="@T("Plugins.NopMobile.WebApi.AddNew")" onclick="javascript:OpenWindow('@(Url.Action("FeaturedProductsAddPopup", "BsWebApiConfiguration", new { btnId = "btnRefreshfeatureProducts", formId = "featureProducts-form" }))', 800, 800, true); return false;" class="k-button" />
                                <input type="submit" id="btnRefreshfeatureProducts" style="display: none" />
                                <script type="text/javascript">
                    $(document).ready(function () {
                        $('#btnRefreshfeatureProducts').click(function () {
                            //refresh grid
                            var grid = $("#featureproducts-grid").data('kendoGrid');
                            grid.dataSource.read();

                            //return false to don't reload a page
                            return false;
                        });
                    });
                                </script>
                                <div id="featureproducts-grid"></div>
                                <script>
                    $(document).ready(function () {
                        $("#featureproducts-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("FeaturedProductList", "BsWebApiConfiguration"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("FeaturedProductDelete", "BsWebApiConfiguration"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            ProductName: {editable: false, type: "string" },
                                            DisplayOrder: {editable: true, type: "number" },
                                            Id: {editable: false, type: "number" }
                                        }
                                    }
                                },
                                requestEnd: function(e) {
                                    if(e.type=="update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false
                            },
                            editable: {
                                confirmation: false,
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [{
                                field: "ProductName",
                                title: "@T("Admin.Catalog.Products.AssociatedProducts.Fields.Product")"
                            },{
                                field: "Id",
                                title: "@T("Admin.Common.View")",
                                width: 100,
                                template: '<a href="@Url.Content("~/Admin/Product/Edit/")#=Id#">@T("Admin.Common.View")</a>'
                            }, {
                                command: [{
                                    name: "destroy",
                                    text: "@T("Admin.Common.Delete")"
                                }],
                                width: 200
                            }]
                        });
                    });
                                </script>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function () {
        var enablefetureproduct = document.getElementById('EnableFeaturedProducts');
        if (enablefetureproduct.checked) {
            $("#fetureproductcontainer").show(200);
        }
        else{
            $("#fetureproductcontainer").hide(200);
        }

        enablefetureproduct.onchange = function () {
            if (this.checked) {
                $("#fetureproductcontainer").show(200);
            } else {
                $("#fetureproductcontainer").hide(200);
            }

        }
    });
    </script>
}