﻿@model Nop.Plugin.Misc.BsWebApi.Models.SliderImageModel.SliderImageModel
@using Nop.Core.Infrastructure
@using Nop.Plugin.Misc.BsWebApi.Extensions
@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@{

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Admin.Plugins.SliderImage").Text;
}

@Html.Partial("~/Plugins/Misc.BsWebApi/Views/WebApi/_NopMobileMenu.cshtml")
<script>
    $(document).ready(function () {
        $('#addProductPicture').click(function () {

            var pictureId = $("#@Html.FieldIdFor(model => model.PictureId)").val();
            var overrideAltAttribute = $("#@Html.FieldIdFor(model => model.OverrideAltAttribute)").val();
            var overrideTitleAttribute = $("#@Html.FieldIdFor(model => model.OverrideTitleAttribute)").val();
            var shortDescription = $("#@Html.FieldIdFor(model => model.ShortDescription)").val();
            var campaignType = $("#@Html.FieldIdFor(model => model.CampaignType)").val();
            var imageIdFor = $("#ImageIdFor").val();
            var sliderActiveStartDate = $("#@Html.FieldIdFor(model => model.SliderActiveStartDate)").val();
            var sliderActiveEndDate = $("#@Html.FieldIdFor(model => model.SliderActiveEndDate)").val();
            var isProduct = $("#@Html.FieldIdFor(model => model.IsProduct)").is(':checked');
            var productOrCategory = $("#@Html.FieldIdFor(model => model.ProductOrCategory)").val();

            if (!campaignType) {
                alert('Select Campaign Type');
                return;
            }

            var inage = 2;
            if (campaignType == inage) {
                if (pictureId == 0) {
                    alert('Upload picture first');
                    return;
                }
            }

            var postData = {
                pictureId: pictureId,
                overrideAltAttribute: overrideAltAttribute,
                overrideTitleAttribute: overrideTitleAttribute,
                sliderActiveStartDate: sliderActiveStartDate,
                sliderActiveEndDate: sliderActiveEndDate,
                imageIdFor: imageIdFor,
                isProduct: isProduct,
                productOrCategory: productOrCategory,
                shortDescription: shortDescription,
                campaignType: campaignType
            };


            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("BsWebApiConfigure.SliderImageAdd"))",
                data: postData,
                success: function (data) {
                    if (data.Result) {
                        $("#@Html.FieldIdFor(model => model.PictureId)").val("");
                        $("#@Html.FieldIdFor(model => model.OverrideAltAttribute)").val("");
                        $("#@Html.FieldIdFor(model => model.OverrideTitleAttribute)").val("");
                        $("#@Html.FieldIdFor(model => model.SliderActiveStartDate)").val("");
                        $("#@Html.FieldIdFor(model => model.SliderActiveEndDate)").val("");

                        var grid = $("#sliderpictures-grid");
                        grid.data('kendoGrid').dataSource.read();
                    }
                    else {
                        alert(data.responseText);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //alert('Failed to add product picture.');
                    //$('#addProductPicture').attr('disabled', false);
                }
            });

        });
    });
</script>
<div class="plugincontainer">
    <div>
        <div class="configurecontaincontainer">
            <div class="storelocatersettingtitle">
                <strong>@T("Plugins.NopMobile.WebApi.Slider")</strong>
            </div>
            <div>
                <table width="100%">
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.PictureId):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.PictureId)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.OverrideAltAttribute):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.OverrideAltAttribute)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.OverrideTitleAttribute):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.OverrideTitleAttribute)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.ShortDescription):
                        </td>
                        <td class="adminData">
                            @Html.TextAreaFor(model => model.ShortDescription)
                        </td>
                    </tr>

                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.CampaignType):
                        </td>
                        <td class="adminData">
                            @Html.DropDownList("CampaignType", EnumHelper.GetSelectList(typeof(CampaignType)), "Select Type")
                        </td>
                    </tr>

                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.ImageFor):
                        </td>
                        <td class="adminData">
                            @Html.DropDownListFor(model => model.ImageIdFor, Model.ImageFor)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.SliderActiveStartDate):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.SliderActiveStartDate)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.SliderActiveEndDate):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.SliderActiveEndDate)
                        </td>
                    </tr>

                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.IsProduct):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.IsProduct)
                        </td>
                    </tr>
                    <tr>
                        <td class="adminTitle">
                            @Html.NopLabelFor(model => model.ProductOrCategory):
                        </td>
                        <td class="adminData">
                            @Html.EditorFor(model => model.ProductOrCategory)
                        </td>
                    </tr>

                    <tr>
                        <td align="left">
                            <input type="button" id="addProductPicture" class="k-button" value="@T("Admin.Catalog.Products.Pictures.AddButton")" />
                        </td>
                    </tr>
                </table>


                <div>
                    <div id="sliderpictures-grid"></div>

                    <script>
                        $(document).ready(function () {

                            $("select#CampaignType").on("change", function() {
                                var text = 1;
                                $("select#ImageIdFor").prop("disabled", $(this).val() == text);
                            });

                            $("#sliderpictures-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("SliderImageList", "BsWebApiConfiguration"))",
                                            type: "POST",
                                            dataType: "json"
                                        },
                                        update: {
                                            url: "@Html.Raw(Url.Action("SliderImageUpdate", "BsWebApiConfiguration"))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        },
                                        destroy: {
                                            url: "@Html.Raw(Url.Action("SliderImageDelete", "BsWebApiConfiguration", new { id = Model.Id, area = "" }))",
                                            type: "POST",
                                            dataType: "json",
                                            data: addAntiForgeryToken
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors",
                                        model: {
                                            id: "Id",
                                            fields: {
                                                PictureUrl: { editable: false, type: "string" },
                                                OverrideAltAttribute: { editable: true, type: "string" },
                                                OverrideTitleAttribute: { editable: true, type: "string" },
                                                CampaignType: { editable: true, type: "int" },
                                                ShortDescription : {editable: true, type: "string"},
                                                ImageIdDropDownFor: { editable: true, type: "string" },
                                                ImageTextDropDownFor: { editable: true, type: "string" },
                                                SliderActiveStartDateInGrid: { editable: true, type: 'date' },
                                                SliderActiveEndDateInGrid: { editable: true, type: 'date' },
                                                IsProduct: { editable: true, type: "boolean" },
                                                ProductOrCategory: { editable: true, type: "number" }
                                            }
                                        }
                                    },
                                    requestEnd: function (e) {
                                        if (e.type == "update") {
                                            this.read();
                                        }
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    numeric: false,
                                    previousNext: false,
                                    info: false
                                },
                                edit: function (e) {
                                    if (e.model.isNew()) {
                                        if (imgForDropDownArray > 0) {
                                            e.model.imageIdFor = imgForDropDownArray[0].Value;
                                        }
                                    }
                                },
                                dataBound: onDataBound,
                                editable: {
                                    confirmation: false,
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [{
                                    field: "PictureUrl",
                                    title: "@T("Admin.Catalog.Products.Pictures.Fields.Picture")",
                                    template: '<a href="#=PictureUrl#" target="_blank"><img alt="#=PictureId#" src="#=PictureUrl#" width="150" /></a>',
                                    width: 150
                                }, {
                                    field: "OverrideAltAttribute",
                                    title: "@T("Admin.Catalog.Products.Pictures.Fields.OverrideAltAttribute")",
                                    width: 100
                                }, {
                                    field: "OverrideTitleAttribute",
                                    title: "@T("Admin.Catalog.Products.Pictures.Fields.OverrideTitleAttribute")",
                                    width: 150
                                },{
                                    field: "ShortDescription",
                                    title: "@T("Admin.Catalog.Products.Pictures.Fields.ShortDescription")",
                                    width: 150,
                                    editor: '<textarea required data-text-field="Name" data-value-field="Id" data-bind="value:ShortDescription"/>'
                                 },
                                {
                                    field: "CampaignType",
                                    title: "@T("Slider.Products.Fields.CampaignType")",
                                    width: 100,
                                    editor: CampaignTypeDropDown,
                                    template: "#=CampaignTypeText#"
                                },
                                 {
                                     field: "imageIdFor",
                                     title: "@T("Admin.BSSlider.Fields.ImageFor")",
                                     width: 100,
                                     editor: imgForDropDownEditor,
                                     template: "#=ImageTextDropDownFor#"
                                 },
                                {
                                    field: "SliderActiveStartDateInGrid",
                                    title: "@T("Admin.BSSlider.Fields.SliderActiveStartDate")",
                                    width: 150,
                                    type: "date",
                                    format: "{0:dd-MM-yyyy}",
                                    //template: "#= kendo.toString(kendo.parseDate(PreShipmentDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                                    editor: sliderActiveStartDate
                                },
                                 {
                                     field: "SliderActiveEndDateInGrid",
                                     title: "@T("Admin.BSSlider.Fields.SliderActiveEndDate")",
                                     width: 150,
                                     type: "date",
                                     format: "{0:dd-MM-yyyy}",
                                     //template: "#= kendo.toString(kendo.parseDate(PreShipmentDate, 'yyyy-MM-dd'), 'dd/MM/yyyy') #",
                                     editor: SliderActiveEndDate
                                 },
                                 {
                                     field: "IsProduct",
                                     title: "@T("Admin.BSSlider.Fields.IsProduct")",
                                     width: 30
                                 },
                                 {
                                     field: "ProductOrCategory",
                                     title: "@T("Admin.BSSlider.Fields.ProductOrCategory")",
                                     width: 30
                                 },
                                {
                                    command: [{
                                        name: "edit",
                                        text: {
                                            edit: "@T("Admin.Common.Edit")",
                                            update: "@T("Admin.Common.Update")",
                                            cancel: "@T("Admin.Common.Cancel")"
                                        }
                                    }, {
                                        name: "destroy",
                                        text: "@T("Admin.Common.Delete")"
                                    }],
                                    width: 200
                                }]
                            });
                        });

                        var imgForDropDownArray =
                            [
                                @{
                                    <text>
                                        { Value: 0, Text: "Default" },
                                        { Value: 1, Text: "Slider" },
                                        { Value: 2, Text: "Banner" },
                                        { Value: 3, Text: "Login" },
                                        { Value: 4, Text: "HomeTop" },
                                        { Value: 5, Text: "HomeFirst" },
                                        { Value: 6, Text: "HomeSecond" }
                                    </text>
                                }];

                        var campaignTypeDropDownArray =
                        [
                            @{
                                <text>
                                    { Value: 1, Text: "Text" },
                                    { Value: 2, Text: "Image" }
                                </text>
                            }
                        ];

                        function imgForDropDownEditor(container, options) {
                            $('<input required data-text-field="Text" data-value-field="Value" data-bind="value:ImageIdDropDownFor"/>')
                                .appendTo(container)
                                .kendoDropDownList({
                                    autoBind: false,
                                    dataSource: imgForDropDownArray
                                });
                        }

                        function CampaignTypeDropDown(container, options) {
                            $('<input required data-text-field="Text" data-value-field="Value" data-bind="value:CampaignType"/>')
                                .appendTo(container)
                                .kendoDropDownList({
                                    autoBind: false,
                                    dataSource: campaignTypeDropDownArray
                                });
                            }

                        function sliderActiveStartDate(container, options) {
                            //Problem : problem is datefield is not binding DateType; always getting default date
                            //  $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:PreShipmentEndDate" data-format="'+options.format+'"/>')
                            //      .appendTo(container)
                            //      .kendoDateTimePicker({autoBind:false});

                            $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:SliderActiveStartDateInGridString"/>')
                                .appendTo(container)
                                .kendoDateTimePicker({ autoBind: false, format: "{0:dd-MM-yyyy}" });

                        }
                        function SliderActiveEndDate(container, options) {
                            //Problem : problem is datefield is not binding DateType; always getting default date
                            //  $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:PreShipmentEndDate" data-format="'+options.format+'"/>')
                            //      .appendTo(container)
                            //      .kendoDateTimePicker({autoBind:false});

                            $('<input required data-text-field="Name" data-value-field="Id" data-bind="value:SliderActiveEndDateInGridString"/>')
                                .appendTo(container)
                                .kendoDateTimePicker({ autoBind: false, format: "{0:dd-MM-yyyy}" });
                        }
                    </script>
                    <script type="text/javascript">

                        function onDataBound(e) {
                            //if ($('#categorypictures-grid img').length > 0) {
                            //    $("#changeCategoryColor").css("display", "block");
                            //}
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
